:root {
  /* ===========================
     Colors
  =========================== */

  --background: 44 100% 98%;
  --foreground: 232 17% 18%;

  --primary: 217 96% 56%;
  --primary-foreground: 0 0% 100%;

  --secondary: 42 100% 96%;
  --secondary-foreground: 232 18% 18%;

  --muted: 42 40% 95%;
  --muted-foreground: 220 8% 48%;

  --border: 40 35% 90%;
  --input: 40 35% 90%;
  --ring: 217 96% 56%;

  --card: 0 0% 100%;
  --card-foreground: 232 17% 18%;

  /* ===========================
     Radius
  =========================== */

  --radius-sm: 10px;
  --radius-md: 16px;
  --radius-lg: 20px;
  --radius-xl: 28px;

  /* ===========================
     Shadows
  =========================== */

  --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.04);

  --shadow-md: 0px 8px 20px rgba(0, 0, 0, 0.05);

  --shadow-lg: 0px 16px 40px rgba(0, 0, 0, 0.08);

  /* ===========================
     Sidebar
  =========================== */

  --sidebar-width: 256px;
  --sidebar-height: 538px;

  /* ===========================
     Topbar
  =========================== */

  --topbar-height: 78px;

  /* ===========================
     Container
  =========================== */

  --container: 1366px;
}
